<!DOCTYPE html>
<html lang="pt-br">
<!-- Portugues Brasil -->

<head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<meta charset="UTF-8"><!-- Suporta Acentuacão -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>formulario</title>


	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: auto; width: 230px;">
		<div class="container-fluid">
			<a class="navbar-brand" href="/carro/listar">&#126992;</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							<b>Menu de Cadastro Veículos</b>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="/carro/formulario">Cadastrar Novos Carros</a></li>
							<li><a class="dropdown-item" href="/carro/listar">Listar Todos os Carros</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Em Análise...</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

</head>

<body>




	<form method="post" action="/carro/salvar" th:object="${carro}" style="margin: auto; width: 220px;"
		enctype="multipart/form-data">

		<input type="hidden" th:field="*{codigo}" />


		<div class="form-group">
			<label for="formGroupExampleInput"><b>Nome do Carro:</b></label>
			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome do Carro?"
				th:field="*{nome}">
		</div>
		<div class="form-group">
			<label for="formGroupExampleInput1"><b>Modelo:</b></label>
			<input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Qual o Modelo?"
				th:field="*{modelo}">
		</div>
		<div class="form-group">
			<label for="formGroupExampleInput2"><b>Marca:</b></label>
			<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Qual a  Marca?"
				th:field="*{marca}">
		</div>
		<div class="form-group">
			<label for="formGroupExampleInput3"><b>AnoDeFab:</b></label>
			<input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Qual o AnoDeFab?"
				th:field="*{anoDeFab}">
		</div>
		<div class="form-group">
			<label for="formGroupExampleInput4"><b>Placa:</b></label>
			<input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Qual  a Placa?"
				th:field="*{placa}">
		</div>
		<!-- CAMPO DA DATA -->
		<div class="form-group">
			<label for="formGroupExampleInput5"><b>Data do Cadastro:</b></label>
			<input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Data de Cadastro?"
				th:field="*{dataCadastro}">
		</div>
		
		<!-- CAMPO DA IMAGEM -->
			<div class="form-group">
				<label for="formGroupExampleInput6"><b>Selecionar Uma Imagem:</b></label>
				<input type="file" name="imagem" class="form-control" id="formGroupExampleInput6">
			</div>

		<br>
		<button type="submit" class="btn btn-primary" value="Cadastrar"><b>Cadastrar</b></button>


	</form>



	<script src="/js/bootstrap.min.js"> </script>
</body>

</html>>



	<script src="/js/bootstrap.min.js"> </script>
</body>

</html>